<h2>Последние посты</h2>

<% @results.each do |post|%>
	<p>
		<%= post['content'] %>
		<br/>
		<br/>
		<%= post['created_date'] %>
		<br/>
		<br/>
		<a href="/details/<%= post['id'] %>">Комментировать</a>
	</p>
	<hr/>
<% end %>