<h2>Add new post</h2>

<form action="/new", method="POST" class="form">
	<div class="form-floating">
  		<textarea name="content" class="form-control" rows="6" placeholder="Leave a post here"></textarea>
  	</div>
  	<br/>
	<div class="form-group">
       <button type="submit" class="btn btn-primary">Submit</button>
  	</div>
</form>